<!DOCTYPE html>

<html>
  <head>
    <title>Best of what's Left</title>
    <link rel="stylesheet" type="text/css" href="html_front_end_foodie.css">
    <script type="text/javascript" src="buttons.js"></script>
  </head>
  <body>
    <div class = "foodbackground">
        <div class="wrapper">
            <h1 class = "title">Best with what's Left</h1>
        </div>
    </div>
    <div class = "main">
        <span>The url is : <a href="<%= the_url %>">the link</a></h1></span>
      </div>  
    </div>  
  </body>
</html>